<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SwapWeb.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  
   <servlet> 
     <servlet-name>gagagaServlet</servlet-name> 
     <servlet-class>ppj09.gwt.swapweb.server.SearchHandlerImpl</servlet-class> 
   </servlet> 
   
  <servlet-mapping>
    <servlet-name>gagagaServlet</servlet-name>
    <url-pattern>/swapweb/gagaga</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet> 
     <servlet-name>UserManager</servlet-name> 
     <servlet-class>ppj09.gwt.swapweb.server.UserMangerImpl</servlet-class> 
   </servlet> 
   
  <servlet-mapping>
    <servlet-name>UserManager</servlet-name>
    <url-pattern>/swapweb/UserManager</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet> 
     <servlet-name>SwapManager</servlet-name> 
     <servlet-class>ppj09.gwt.swapweb.server.SwapMangerImpl</servlet-class> 
   </servlet> 
   
  <servlet-mapping>
    <servlet-name>SwapManager</servlet-name>
    <url-pattern>/swapweb/SwapManager</url-pattern>
  </servlet-mapping>
  

</web-app>
