<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SwapWeb.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  
   <servlet> 
     <servlet-name>gagagaServlet</servlet-name> 
     <servlet-class>ppj09.gwt.swapweb.server.SearchHandlerImpl</servlet-class> 
   </servlet> 
   
  <servlet-mapping>
    <servlet-name>gagagaServlet</servlet-name>
    <url-pattern>/swapweb/gagaga</url-pattern>
 </servlet-mapping> 
 
 
 <servlet> 
     <servlet-name>UserManager</servlet-name> 
     <servlet-class>ppj09.gwt.swapweb.server.UserManagerImpl</servlet-class> 
   </servlet> 
   
  <servlet-mapping>
    <servlet-name>UserManager</servlet-name>
    <url-pattern>/swapweb/UserManager</url-pattern>
 </servlet-mapping> 
  
 <servlet> 
     <servlet-name>ArticleManager</servlet-name> 
     <servlet-class>ppj09.gwt.swapweb.server.ArticleManagerImpl</servlet-class> 
   </servlet> 
   
  <servlet-mapping>
    <servlet-name>ArticleManager</servlet-name>
    <url-pattern>/swapweb/ArticleManager</url-pattern>
 </servlet-mapping> 
 
  <servlet> 
     <servlet-name>GuiHelper</servlet-name> 
     <servlet-class>ppj09.gwt.swapweb.server.GuiHelperImpl</servlet-class> 
   </servlet> 
   
  <servlet-mapping>
    <servlet-name>GuiHelper</servlet-name>
    <url-pattern>/swapweb/GuiHelper</url-pattern>
 </servlet-mapping> 
  
   <servlet> 
     <servlet-name>MessageHandler</servlet-name> 
     <servlet-class>ppj09.gwt.swapweb.server.MessageHandlerImpl</servlet-class> 
   </servlet> 
   
  <servlet-mapping>
    <servlet-name>MessageHandler</servlet-name>
    <url-pattern>/swapweb/MessageHandler</url-pattern>
 </servlet-mapping> 
  
 
  <servlet>
  <servlet-name>imageUploadHandler</servlet-name> 
  <servlet-class>ppj09.gwt.swapweb.server.ImageUploadHandler</servlet-class>  
</servlet>

<servlet-mapping>
   <servlet-name>imageUploadHandler</servlet-name>
   <url-pattern>/swapweb/ImageUploadHandler</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>userImageUploadHandler</servlet-name> 
  <servlet-class>ppj09.gwt.swapweb.server.UserImageUploadHandler</servlet-class>  
</servlet>

<servlet-mapping>
   <servlet-name>userImageUploadHandler</servlet-name>
   <url-pattern>/swapweb/UserImageUploadHandler</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>userImageUpdateHandler</servlet-name> 
  <servlet-class>ppj09.gwt.swapweb.server.UserImageUpdateHandler</servlet-class>  
</servlet>

<servlet-mapping>
   <servlet-name>userImageUpdateHandler</servlet-name>
   <url-pattern>/swapweb/UserImageUpdateHandler</url-pattern>
</servlet-mapping>

<servlet> 
     <servlet-name>OfferHandler</servlet-name> 
     <servlet-class>ppj09.gwt.swapweb.server.OfferHandlerImpl</servlet-class> 
   </servlet> 
   
  <servlet-mapping>
    <servlet-name>OfferHandler</servlet-name>
    <url-pattern>/swapweb/OfferHandler</url-pattern>
 </servlet-mapping> 
  

<servlet> 
     <servlet-name>SessionManager</servlet-name> 
     <servlet-class>ppj09.gwt.swapweb.server.SessionManagerImpl</servlet-class> 
   </servlet> 
   
  <servlet-mapping>
    <servlet-name>SessionManager</servlet-name>
    <url-pattern>/swapweb/SessionManager</url-pattern>
 </servlet-mapping> 
  
</web-app>
